{% extends 'base.html' %}

{% block menu %}
<a class="navbar-brand" href="{% url 'product_add' %}">Add Product</a>

{% endblock %}

{% block content %}
<h1>Product</h1>
<hr/>
{% for product in products %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="display:inline ">{{ product.name }}</h5>
        <p style="display:inline "><a href="{% url 'product_update' product.pk %}"><i class="fas fa-file-signature"></i></a></p>
        <p style="display:inline "><a href="{% url 'product_delete' product.pk %}"><i class="fas fa-trash"></i></a></p>
        <p class="card-text">{{ product.description }}</p>
    </div>
</div>
<h2></h2>
<hr/>
{% endfor %}
{% endblock %}
